[submodule "vendor/NiklasRosenstein/nr.utils"]
	path = vendor/NiklasRosenstein/nr.utils
	url = git@git.niklasrosenstein.com:Cinema4D/cpp-nr.utils.git
[submodule "vendor/NiklasRosenstein/nr.c4d"]
	path = vendor/NiklasRosenstein/nr.c4d
	url = git@git.niklasrosenstein.com:Cinema4D/cpp-nr.c4d.git
[submodule "vendor/NiklasRosenstein/nr.mathlib"]
	path = vendor/NiklasRosenstein/nr.mathlib
	url = git@git.niklasrosenstein.com:Cinema4D/cpp-nr.mathlib.git
[submodule "vendor/craftr/net.dlib"]
	path = vendor/craftr/net.dlib
	url = git@github.com:craftr-build/net.dlib.git
[submodule "vendor/craftr/net.maxon.c4d"]
	path = vendor/craftr/net.maxon.c4d
	url = git@github.com:craftr-build/net.maxon.c4d.git
[submodule "vendor/davisking/dlib"]
	path = vendor/davisking/dlib
	url = https://github.com/davisking/dlib.git
